th {
  width: 50px;
  height: 45px;
  vertical-align: middle;
  text-align: center;

}

.dayWeek {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}

